.controlContainer{
    margin-top: 80px;
    display: flex;
    justify-content: space-evenly;
}

.btn1 {
    max-width: 150px;
    width: 100%;
}

.btn {
    max-width: 200px;
    width: 100%;
}

.btn1:hover {
    transform: scale(1.2);
    cursor: pointer;
}

.btn:hover {
    transform: scale(1.2);
    cursor: pointer;
}